@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  || RESET */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* || VARIABLES*/
:root {
    /* || FONTS */
    --Nunito-Sans: 'Nunito Sans', sans-serif;
}

/* || GENERAL */
html {
    scroll-behavior: smooth;
}

/* body {
    overflow-x: hidden;
} */

h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
    color: 1D212B;
}

/* || UTILITY CLASSES */
.underline {
    text-decoration: underline;
}

.nowrap {
    white-space: nowrap;
}

.reveal {
    position: relative;
    transform: translateY(70px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/*  || ANIMATIONS */



/* || RESPONSIVENESS */
@media screen and (max-width: 600px) {
    .j2i {
        text-align: center;
    }
    .sd {
        grid-template-columns: 1fr !important;
    }
    #skills {
        height: 1000px;
    }
    #el {
        flex-direction: column;
    }
    #cd {
        width: 80vw;
    }
    .j .j2i h2 {
        font-size: 30px;
        font-weight: 500;
    }
    .j .j2i h3 {
        font-weight: 400;
        font-size: 25px;
    }
    #main img {
        height: 90vh;
    }
}


/* || BLOCKS */
.main {
    width: 100%;
    height: 100vh;
}

.main img {
    width: 100%;
    height: 100%;
    overflow:hidden;
}

.main h2 {
    position: absolute;
    left: 10px;
    top: 40%;
    z-index: 2;
    font-size: 40px;
    color: black;
    font-style: italic;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
}

.main h1 {
    position: absolute;
    left: 10px;
    top: calc(40% + 40px);
    z-index: 2;
    font-size: 60px;
    color: black;
    font-weight: 600;
}

.about {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    line-height: 40px;
}

.about h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.journey {
    width: 70%;
    margin: 50px auto;
    text-align: center;
}

.journey h2 {
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: 400;
}

.j {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.j2 {
    text-align: left;
}

.j2m {
    margin-top: 20px;
}

.j .j2 .j2i p {
    color: rgb(11, 155, 11) !important;
    font-family: 'Lato', sans-serif;
}

.j2i h2 {
    margin-bottom: 10px;
    font-weight: 400;
}

.j2i h3 {
    font-weight: 500;
}

.j2m ul li {
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: 400;
}

.j1 img {
    height: 100px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
    text-align: center;
    background-color: #1D212B;
}

.skills h2 {
    color: white;
    translate: 0 50px;
    font-size: 50px;
    margin-bottom: 10px;
}

.sd {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.sdi {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2696E9;
    border: 2px solid #2696E9;
}

.sd h3 {
    margin: 0;
    font-size: 25px;
    padding: 5px;
}

.el {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 50px 50px;
}



.contact {
    margin-top: 50px;
    text-align: center;
}

.cd {
    background-color: #1D212B;
    border: 2px solid #1D212B;
    width: 50%;
    margin: auto;
}

.cd img {
    width: 50px;
    margin: 10px;
    height: auto;
}

.cd p {
    color: white;
    font-size: 20px;
    margin: 10px;
}

.cd h2 {
    color: white;
    margin-bottom: 20px;
}

footer a {
    color: #2696E9;
    font-size: 16px;
}

footer a:hover {
    color: #2696E9;
    text-decoration: underline;
    font-size: 16px;
}

footer p {
    color: black;
    font-size: 16px;
}

footer a:active {
    color: #2696E9;
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 50px;
}